{
  "openapi": "3.0.0",
  "info": {
    "description": "Welcome to the MaintainX API documentation!<br/><br/>You can use the MaintainX API to programmatically interact with all the entities in MaintainX. Use it to retrieve and manage data of Work Orders, Work Requests, Assets, and more!<br/><br/>To get started, in your MaintainX account go to <a href=\"https://app.getmaintainx.com/settings/integrations\">\"Settings &gt; Integrations\"</a> and click \"&plus; New Key\" button to generate a new Rest API key.<br/><br/><b>Missing something?</b><br/>Don't hesitate to reach out <a href=\"mailto:info@getmaintainx.com\">info@getmaintainx.com</a><br/><br/>",
    "version": "1",
    "title": "MaintainX API",
    "contact": {
      "url": "https://www.getmaintainx.com/",
      "name": "Support",
      "email": "info@getmaintainx.com"
    },
    "x-logo": {
      "url": "https://maintainx-static.s3-us-west-2.amazonaws.com/img/default-org-logo.png",
      "backgroundColor": "#FFFFFF",
      "altText": "MaintainX logo"
    }
  },
  "servers": [
    {
      "url": "https://api.getmaintainx.com/v1",
      "description": "Endpoint"
    }
  ],
  "tags": [
    {
      "name": "Getting Started",
      "description": "\n<h1>Using Postman to test your requests</h1>\n<ol style=\"padding-left: 16px\">\n  <li>Download the <a href=\"https://www.postman.com/\" target=\"_blank\">Postman</a> application from the web. (You can also use <a href=\"https://insomnia.rest/\" target=\"_blank\">Insomnia</a> if wanted)</li>\n  <li>Open the Postman application and click the <b>Environment</b> tab on the left side of the application.</li>\n  <li>Select the <b>Globals</b> option in the newly shown panel located to the right of the <b>Environment</b> tab. </li>\n  <li>Now, we will add two variables, these two variables will be globals throughout Postman and help you do the operations that you need to do with the API. You can refer to the table at the end of this section or just follow the steps below.</li>\n  <ol style=\"padding-left: 16px\">\n    <li>Add a new variable and name it <b>baseUrl</b>, which will be used to link your Postman to the MaintainX's API. Copy-paste the URL, <a>https://api.getmaintainx.com/v1</a>, into the <b>Initial Value</b> column.</li>\n    <li>Add another variable named <b>bearerToken</b>, you will need this one in a following step. This variable is used to authenticate you to be allowed to send requests to our API via what we call a Bearer Token. To retrieve a key, go to <a href=\"https://app.getmaintainx.com/settings/integrations\" target=\"_blank\">Settings > API Keys</a>, generate a key and paste it into the <b>Initial Value</b> column.</li>\n    <li>Be sure that you click on the <b>Save</b> button at the top right corner of the <b>Globals</b> panel.</li>\n    <table>\n      <tr>\n        <th>VARIABLE</th>\n        <th>INITIAL VALUE</th>\n        <th>CURRENT VALUE</th>\n      </tr>\n      <tr>\n        <td>baseUrl</td>\n        <td>https://api.getmaintainx.com/v1</td>\n        <td>https://api.getmaintainx.com/v1</td>\n      </tr>\n      <tr>\n        <td>bearerToken</td>\n        <td>{GENERATED_KEY}</td>\n        <td>{GENERATED_KEY}</td>\n      </tr>\n    </table>\n  </ol>\n  <li>Now press the <b>Import</b> button which is located above the panel where you just added the global variables.</li>\n  <ol style=\"padding-left: 16px\">\n    <li>In the newly shown window, click the <b>Link</b> tab and copy the URL (or all of its content), <a href=\"https://api.getmaintainx.com/v1/openapi.json\" target=\"_blank\">https://api.getmaintainx.com/v1/openapi.json</a>, into the <b>Enter a URL</b> field and then click Continue and follow the steps to proceed to the importation.</li>\n    <li>Now, a new collection named <b>MaintainX API</b> should be imported giving you access to all our API endpoints.</li>\n  </ol>\n  <li>Before testing any endpoint, please make sure the API key is defined in the <b>Bearer Token</b> area. <b>Bearer Token</b> allows requests to authenticate using an access key.</li>\n  <ol style=\"padding-left: 16px\">\n    <li>Select the root of the <b>MaintainX API</b> collection and then click the <b>Authorization</b> tab and select <b>Bearer Token</b> in the dropdown list named <b>Type</b>.</li>\n    <li>In the <b>Token</b> field, write the name of the second global variable (<b>bearerToken</b>) you have created in a previous step and surround it with two curly braces like this: <code><b>{{bearerToken}}</b></code>.</li>\n  </ol>\n</ol>\n<h1>Here's how to test your Postman configuration</h1>\n<p>You should now be all set up but, just to be sure, we'll do one simple request to the API to verify if all the previous steps were done properly. If anything went wrong, just contact our support team and they will help you with the steps.</p>\n<ol style=\"padding-left: 16px\">\n  <li>Expand the <b>MaintainX API</b> collection.</li>\n  <li>Expand the <b>locations</b> node.</li>\n  <li>Click on the one named <b>List locations</b> and in the GET section, just remove all the parameters to have the following: <code>{{baseUrl}}/locations</code> and click the <b>Send</b> button.</li>\n  <li>In the <b>Response</b> part of the screen, normally at the bottom, you should have a JSON response containing your organization's locations.</li>\n</ol>\n    ",
      "x-traitTag": true
    },
    {
      "name": "Authentication",
      "description": "\n<p>In order to be able to send requests to our API to fetch and modify data, you will need to authenticate every request you make on it.</p>\n<h2>Bearer</h2>\n\n<p>Authenticate by adding the following HTTP header to your requests:</p>\n<pre>Authorization: bearer {{token}}</pre>\n<p>The <code>token</code> can be generated in your MaintainX account. Go to <a href=\"https://app.getmaintainx.com/settings/integrations\">\"Settings &gt; Integrations &gt; API Keys\"</a> to generate a key for your user.</p>\n\n<table>\n  <tr>\n    <th>Security Scheme Type</th>\n    <th>HTTP Authorization Scheme</th>\n    <th>Bearer Format</th>\n  </tr>\n  <tr>\n    <td>HTTP</td>\n    <td>Bearer</td>\n    <td>JWT</td>\n  </tr>\n</table>\n\n<h2>Multi-Organization Token</h2>\n<p>When using a token that can be used on multiple organizations, you will need to pass a header to indicate the organization you are referring to in all your calls:</p>\n<pre>x-organization-id: {{organizationId}}</pre>\n<p>The header is required for multi-organization tokens. A 400 code will be returned if you're using a token for multiple organizations but didn't pass the required header.</p>\n",
      "x-traitTag": true
    },
    {
      "name": "Rate Limiting",
      "description": "\n<p>MaintainX's API has some rate limits to protect its infrastructure and to allow everybody to use the API fairly in respect to other users. When it comes to rate limiting with MaintainX you can check the data returned by the three rate limiting headers included in each response from our API. We highly recommend doing this because it keeps you compatible and ensures you will automatically benefit from any limit increase we can give you.</p>\n\n<p>Here are the details on those headers and how to use them:</p>\n<ul style=\"padding-left: 16px\">\n        <li>The <code>X-Rate-Limit-Limit</code> header shows your cap allowed for the current timeframe (this usually doesn't change unless we increase your cap).</li>\n        <li>The <code>X-Rate-Limit-Remaining</code> header shows the number of remaining requests you have within the current timeframe. When it reaches 0, every requests from that point forward will receive a rate limiting error 429. For example, if the last request you made returned you 1 in that field, you can still make another one before receiving errors.</li>\n        <li>The <code>X-Rate-Limit-Reset</code> header shows the amount of time left in seconds before starting a new timeframe and resetting your remaining requests to the cap limit (when the <code>Reset</code> reaches 0, <code>Remaining</code> will go back to the amount defined by your cap).</li>\n    </ul>\n\n<p>To optimize your HTTP client, use <code>X-Rate-Limit-Remaining</code> to automatically wait before sending a new request to our API when the header value reaches 0. Then, use the <code>X-Rate-Limit-Reset</code> header value to schedule when you'll start sending requests again. Following this solution should allow you to always benefit from the maximum allowed number of requests for your organization or user.</p>\n\n<b>However, make sure to still handle the scenario of receiving a <code>429 Too Many Requests</code> HTTP status code in your code.</b> This could still happen if you run into a concurrency edge case. In those scenarios, make your client wait for the <code>X-Rate-Limit-Remaining</code> period in seconds, and add a small time buffer as a security measure.\n\n\n<h3>Default Rate Limits</h3>\n<li>For a user across all his organizations: 100 requests / 60 seconds</li>\n<li>For a user on a single organization: 100 requests / 60 seconds</li>\n<li>For all users within one organization: 500 requests / 60 seconds</li>\n<li>For Automated and IoT meter readings on the <code>/meterreadings</code> endpoint: 100 requests / 60 seconds </li>\n<li>For Automated and IoT meter readings on the <code>/meter/{meterId}/readings</code> endpoint (not recommended): 1 request / 10 seconds </li>\n<li>For Manual meter readings across all endpoints: 10 requests / 24 hours </li>\n",
      "x-traitTag": true
    },
    {
      "name": "Assets",
      "description": "Operations on Assets",
      "x-traitTag": false
    },
    {
      "name": "Asset Criticalities",
      "description": "Operations on Asset Criticalities",
      "x-traitTag": false
    },
    {
      "name": "Asset Statuses",
      "description": "Operations on Asset Statuses",
      "x-traitTag": false
    },
    {
      "name": "Asset Custom Statuses",
      "description": "Operations on Asset Custom Statuses",
      "x-traitTag": false
    },
    {
      "name": "Categories",
      "description": "Operations on Categories",
      "x-traitTag": false
    },
    {
      "name": "Conversations",
      "description": "Operations on Conversations",
      "x-traitTag": false
    },
    {
      "name": "Custom Fields",
      "description": "Operations on Custom Fields",
      "x-traitTag": false
    },
    {
      "name": "Locations",
      "description": "Operations on Locations",
      "x-traitTag": false
    },
    {
      "name": "Meters",
      "description": "Operations on Meters",
      "x-traitTag": false
    },
    {
      "name": "Meter Triggers",
      "description": "Operations on Meter Triggers",
      "x-traitTag": false
    },
    {
      "name": "Organizations",
      "description": "Operations on Organizations",
      "x-traitTag": false
    },
    {
      "name": "Parts",
      "description": "Operations on Parts",
      "x-traitTag": false
    },
    {
      "name": "Part Transfer Requests",
      "description": "Operations on Part Transfer Requests",
      "x-traitTag": false
    },
    {
      "name": "Procedure Templates",
      "description": "Operations on Procedure Templates",
      "x-traitTag": false
    },
    {
      "name": "Procedure Template Rows",
      "description": "Operations on Procedure Template Rows",
      "x-traitTag": false
    },
    {
      "name": "Purchase Orders",
      "description": "Operations on Purchase Orders",
      "x-traitTag": false
    },
    {
      "name": "Subscriptions & Webhooks",
      "description": "\n<h1>Webhooks in MaintainX</h1>\n\n<h2>What are Webhooks?</h2>\n<p>Webhooks are HTTP callbacks that allow different systems to communicate with each other in real-time. They're like automated messengers that deliver information when something happens, rather than requiring you to ask for it.</p>\n\n<p>In the context of MaintainX, webhooks are a way for our system to automatically notify your application when specific events occur in your account. Instead of your application repeatedly checking our API for updates (a process known as \"polling\"), webhooks allow you to receive real-time notifications about important events like:</p>\n<ul>\n  <li>Work order status changes</li>\n  <li>New work orders being created</li>\n  <li>Asset updates</li>\n  <li>And more...</li>\n</ul>\n\n<p>When an event occurs, MaintainX sends an HTTP POST request to the endpoint you specify. The request contains details about the event. It allows your application to react immediately to changes in MaintainX.</p>\n\n<h2>Set Up Webhooks</h2>\n<p>You can configure webhooks the following ways:</p>\n\n<h3>From the MaintainX Web Application</h3>\n<p>For a quick setup, you can configure webhooks in the MaintainX web application:</p>\n<ol>\n  <li>From the sidebar, select <code>Settings > Integrations</code>. Then, on the Integrations page, select <code>Webhooks</code></li>\n  <li>Click <b>+ New Webhook</b></li>\n  <li>Configure a webhook endpoint and select the events you want to receive</li>\n  <li>Save the configuration</li>\n</ol>\n\n<h3>Via the REST API</h3>\n<p>You can configure webhooks using our REST API if you want to integrate with MaintainX in a programmatic way. The API allows you to:</p>\n<ul>\n  <li>Create new webhook subscriptions.</li>\n  <li>Update webhook configurations.</li>\n  <li>Delete webhook subscriptions.</li>\n  <li>Retrieve webhook secrets.</li>\n</ul>\n\n<div class=\"warning-box\">\n  <strong>⚠️ Warning</strong>\n\n  Webhooks that don't get a successful response from your application over long periods of time might be deleted. A webhook call will timeout after 10 seconds.\n  When a webhook is deleted, we send an email to the address linked to the user account that made the request.\n</div>\n\n<h2>Security and Verification</h2>\n<p>To verify that webhook requests come from MaintainX and haven't been tampered with, we include security signatures in each webhook request. This section explains how to verify these signatures.</p>\n\n<h3>Verify Webhook Signatures</h3>\n<p>All webhook HTTP requests sent by MaintainX include two headers containing a timestamp and an HMAC signature that must be validated by your application:</p>\n<ul>\n  <li><code>x-maintainx-webhook-body-signature</code></li>\n  <li><code>x-maintainx-webhook-uri-signature</code></li>\n</ul>\n\n<div class=\"note-box\">\n  <strong>ℹ️ Note</strong>\n  <p>When creating a webhook, you'll receive a secret that should be securely stored on your end. This secret is essential for signature verification and can also be accessed later through the MaintainX interface if needed.</p>\n</div>\n\n<p>The timestamp is prefixed by <code>t=</code>. Each signature is prefixed by a scheme version. Scheme versions start with <code>v</code>, followed by an integer. The only valid live signature version is <code>v1</code>.</p>\n\n<pre>x-maintainx-webhook-body-signature: t=<b>&lt;timestamp&gt;</b>,v1=<b>&lt;signature&gt;</b></pre>\n\n<h3>Signature Verification Process</h3>\n<p>MaintainX generates signatures using a hash-based message authentication code (HMAC) with SHA-256. Here are the steps to verify a webhook signature:</p>\n\n<ol>\n  <li><b>Extract the timestamp and signatures from the header</b>\n    <ol>\n      <li>Split the header, using the <code>,</code> character as the separator, to get a list of elements.</li>\n      <li>Split each element, using the <code>=</code> character as the separator, to get a prefix and value pair.\n      The value for the prefix <code>t</code> corresponds to the timestamp, and <code>v1</code> corresponds to the signature.\n      You can discard all other elements.</li>\n    </ol>\n  </li>\n\n  <li><b>To prepare the signed payload string, concatenate the following:</b>\n    <ol>\n      <li>The timestamp (as a string)</li>\n      <li>The character <code>.</code></li>\n      <li>The actual JSON payload (that is, the request body, or the full URI)</li>\n    </ol>\n    <pre><b>&lt;timestamp&gt;</b>.<b>&lt;stringified payload&gt;</b></pre>\n  </li>\n\n  <li><b>Determine the expected signature</b>\n    <ol>\n      <li>Retrieve the secret for your endpoint. Visit [https://app.getmaintainx.com/settings/integrations](https://app.getmaintainx.com/settings/integrations), find the endpoint you want, and select <b>Copy secret</b>.</li>\n      <li>Compute an HMAC with the SHA256 hash function.</li>\n      <li>Use the endpoint's signing secret as the key.</li>\n      <li>Use the <code>signed_payload</code> string as the message.</li>\n    </ol>\n    <pre>crypto.createHmac(\"sha256\", secret).update('<b>&lt;timestamp&gt;</b>.<b>&lt;stringified payload&gt;</b>', \"utf8\").digest(\"hex\")</pre>\n  </li>\n\n  <li><b>Compare the signatures</b>\n    <ol>\n      <li>Compare the signature in the header to the expected signature.</li>\n      <li>For an equality match, compute the difference between the current timestamp and the received timestamp.</li>\n      <li>Decide whether the difference is within your tolerance. We recommend a tolerance of 5 minutes to allow for clock drift and processing delays. Webhooks with timestamps older than your tolerance window should be rejected to prevent replay attacks.</li>\n    </ol>\n  </li>\n</ol>\n\n<h2>Best Practices</h2>\n<ul>\n  <li>Always verify webhook signatures to ensure requests are genuine (see Security and Verification section above).</li>\n  <li>Return a 2xx status code as quickly as possible to acknowledge receipt (our webhooks will timeout after 10 seconds).</li>\n  <li>Process webhook events asynchronously after acknowledging receipt.</li>\n  <li>Implement proper error handling for failed webhook deliveries.</li>\n  <li>Implement retry logic in your application to handle temporary failures.</li>\n  <li>Implement idempotency in your webhook handler to prevent duplicate processing of the same event.</li>\n  <li>Set up monitoring for your webhook endpoint to detect failures.</li>\n  <li>Consider using a webhook testing tool during development to simulate events.</li>\n</ul>\n\n<h2>Limitations</h2>\n<ul>\n  <li>Webhook URLs are currently limited to a maximum of 512 characters</li>\n</ul>\n\n<h2>Need Help?</h2>\n<p>If you need help implementing webhooks or troubleshooting, contact our Support team from the MaintainX web application. From the sidebar, select <strong>Support</strong>, then select <strong>Contact Support</strong>.</p>\n\n<style>\n  .info-box {\n    padding: 10px 15px;\n    margin: 15px 0;\n    background-color: #eef9fc;\n    border-left: 4px solid #4bb3d4;\n    color: #193c47;\n    border-radius: 4px;\n  }\n</style>\n\n<style>\n  .note-box {\n    padding: 10px 15px;\n    margin: 15px 0;\n    background-color: #fdfdfe;\n    border-left: 4px solid #d4d5d8;\n    color: #474748;\n    border-radius: 4px;\n  }\n</style>\n\n<style>\n  .tip-box {\n    padding: 10px 15px;\n    margin: 15px 0;\n    background-color: #e6f5e6;\n    border-left: 4px solid #009400;\n    color: #013100;\n    border-radius: 4px;\n  }\n</style>\n\n<style>\n  .warning-box {\n    padding: 10px 15px;\n    margin: 15px 0;\n    background-color: #fff8e6;\n    border-left: 4px solid #e6a700;\n    color: #4d3800;\n    border-radius: 4px;\n  }\n</style>\n\n<style>\n  .danger-box {\n    padding: 10px 15px;\n    margin: 15px 0;\n    background-color: #ffebec;\n    border-left: 4px solid #e13238;\n    color: #4b1013;\n    border-radius: 4px;\n  }\n</style>\n",
      "x-traitTag": false
    },
    {
      "name": "Teams",
      "description": "Operations on Teams",
      "x-traitTag": false
    },
    {
      "name": "Users",
      "description": "Operations on Users",
      "x-traitTag": false
    },
    {
      "name": "Vendors",
      "description": "Operations on Vendors",
      "x-traitTag": false
    },
    {
      "name": "Work Orders",
      "description": "Operations on Work Orders",
      "x-traitTag": false
    },
    {
      "name": "Work Requests",
      "description": "Operations on Work Requests",
      "x-traitTag": false
    },
    {
      "name": "Work Request Portals",
      "description": "Operations on Work Request Portals",
      "x-traitTag": false
    },
    {
      "name": "Work Permits",
      "description": "Operations for Work Permits",
      "x-traitTag": false
    },
    {
      "name": "OpenAPI Documentation",
      "description": "OpenAPI Specification Documentation",
      "x-traitTag": false
    }
  ],
  "paths": {
    "/assets": {
      "post": {
        "summary": "Create new asset",
        "requestBody": {
          "description": "Asset to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Forklift"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "example": "Forklift that is used to to move heavy equipments around the warehouse"
                  },
                  "barcode": {
                    "type": "string",
                    "nullable": true,
                    "example": "BWFPBNRHAW54CG",
                    "description": "String encoded barcode"
                  },
                  "criticalityId": {
                    "type": "integer",
                    "nullable": true,
                    "example": 150,
                    "description": "ID of the criticality of the asset"
                  },
                  "parentId": {
                    "type": "integer",
                    "nullable": true,
                    "example": 852,
                    "description": "ID of the parent asset"
                  },
                  "locationId": {
                    "type": "integer",
                    "nullable": true,
                    "example": 852,
                    "description": "ID of the location where the asset is located"
                  },
                  "teamIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "List of teams responsible for the asset",
                    "example": [
                      123,
                      456
                    ]
                  },
                  "assetTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "manual",
                      "tool"
                    ],
                    "description": "List of asset types"
                  },
                  "extraFields": {
                    "type": "object",
                    "description": "Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: \"My Custom Field\")",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "My Custom Field": "000000000"
                    }
                  },
                  "vendorIds": {
                    "type": "array",
                    "description": "Vendor IDs",
                    "items": {
                      "type": "number",
                      "example": 1
                    }
                  },
                  "serialNumber": {
                    "type": "string",
                    "nullable": true,
                    "description": "Serial number of the asset",
                    "example": "000123ABC"
                  },
                  "depreciation": {
                    "type": "object",
                    "nullable": true,
                    "description": "Depreciation information of the asset",
                    "properties": {
                      "id": {
                        "type": "number",
                        "example": 42,
                        "description": "Global ID of the asset depreciation."
                      },
                      "accumulatedDepreciation": {
                        "type": "number",
                        "description": "Accumulated depreciation of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "5000.00"
                      },
                      "annualDepreciation": {
                        "type": "number",
                        "description": "Annual depreciation of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "1000.00"
                      },
                      "depreciationStartDate": {
                        "type": "string",
                        "description": "Date at which the asset depreciation started.",
                        "format": "date-time",
                        "nullable": true,
                        "example": "2022-01-01T00:00:00.000Z"
                      },
                      "currentBookValue": {
                        "type": "number",
                        "description": "Current book value of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "7500.00"
                      },
                      "purchasePrice": {
                        "type": "number",
                        "description": "Purchase price of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "12500.00"
                      },
                      "purchaseDate": {
                        "type": "string",
                        "description": "Date & time at which the asset was purchased.",
                        "format": "date-time",
                        "nullable": true,
                        "example": "2022-01-01T00:00:00.000Z"
                      },
                      "salvageValue": {
                        "type": "number",
                        "description": "Salvage value of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "2500.00"
                      },
                      "usefulLifeYears": {
                        "type": "number",
                        "description": "Useful life of the asset in years.",
                        "format": "double",
                        "nullable": true,
                        "example": 10
                      },
                      "yearsDepreciated": {
                        "type": "number",
                        "description": "Years depreciated of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": 5
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "Date & time at which the asset depreciation was created.",
                        "format": "date-time",
                        "example": "2022-01-01T00:00:00.000Z",
                        "nullable": true
                      },
                      "archivedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date & time at which the asset depreciation was archived.",
                        "example": "2022-01-01T00:00:00.000Z",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created asset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 963,
                      "description": "Global ID of the asset"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "OrganizationId was not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "example": {
                    "errors": [
                      {
                        "error": "Missing x-organization-id header."
                      }
                    ]
                  },
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "error"
                        ],
                        "properties": {
                          "error": {
                            "type": "string"
                          },
                          "fieldPath": {
                            "nullable": true,
                            "type": "string"
                          },
                          "fieldValue": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "description": "Required if using a multi organizations token",
            "name": "x-organization-id",
            "in": "header",
            "required": false,
            "example": "1"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "description": "Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)",
            "name": "skipWebhook",
            "in": "query",
            "required": false
          }
        ]
      },
      "get": {
        "summary": "List assets",
        "description": "Endpoint used to list asset resources",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "description": "Required if using a multi organizations token",
            "name": "x-organization-id",
            "in": "header",
            "required": false,
            "example": "1"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "description": "Last pagination reference",
              "type": "string"
            }
          },
          {
            "name": "customFieldName",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter assets by custom field value. Your query parameter should be your custom field name. (ie: To filter by a custom field named \"Industry\" with the value \"Construction\", you would do this \"/assets?Industry=Construction\").\n                    <br><br>Adding multiple instance of the same custom field act as an <code>OR</code> and adding a different custom field act as an <code>AND</code>. (ie: To filter by a custom field named <code>Industry</code> with the value <code>Construction</code> OR <code>Transportation</code> AND the custom field <code>Manufacturer</code> with the value <code>ACME</code>, you would do this <code>/assets?Industry=Construction&Industry=Transportation&Manufacturer=ACME</code>).\n                    <br><br>If your custom field label is the same as a reserved query parameter such as <code>limit</code>, <code>sort</code>, <code>expand</code>, etc, you can add <code>__c</code> to your custom field filtering (ie: To filter by a custom field named <code>limit</code> with the value <code>ten</code>, you would do this <code>/assets?limit__c=ten</code>).\n                    <br><br>Note that your custom field needs to be created beforehand. Only number and single line text custom field types are supported."
            },
            "in": "query"
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "title": "Expand specific fields in the request",
              "description": "To expand multiple fields: `expand=barcode&expand=team_ids`",
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "barcode",
                  "team_ids",
                  "asset_types",
                  "extra_fields",
                  "vendor_ids",
                  "depreciation",
                  "status",
                  "manufacturer",
                  "model"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "description": "max number of Assets returned",
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            }
          },
          {
            "name": "locationId",
            "schema": {
              "type": "integer",
              "description": "Will only show assets that are related to the location"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Assets list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "assets"
                  ],
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "description",
                          "parentId",
                          "criticalityId",
                          "locationId",
                          "serialNumber",
                          "createdAt",
                          "updatedAt",
                          "creatorId"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 963,
                            "description": "Global ID of the asset"
                          },
                          "name": {
                            "type": "string",
                            "example": "Forklift"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true,
                            "example": "Forklift that is used to to move heavy equipments around the warehouse"
                          },
                          "parentId": {
                            "type": "integer",
                            "nullable": true,
                            "example": 852,
                            "description": "ID of the parent asset"
                          },
                          "criticalityId": {
                            "type": "integer",
                            "nullable": true,
                            "example": 150,
                            "description": "ID of the criticality of the asset"
                          },
                          "locationId": {
                            "type": "integer",
                            "nullable": true,
                            "example": 852,
                            "description": "ID of the location where the asset is located"
                          },
                          "serialNumber": {
                            "type": "string",
                            "nullable": true,
                            "description": "Serial number of the asset",
                            "example": "000123ABC"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date & time at which the asset was created",
                            "example": "2022-01-01T00:00:00.000Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date & time at which the asset was last updated. This doesn't include comments",
                            "example": "2022-01-01T00:00:00.000Z"
                          },
                          "creatorId": {
                            "type": "integer",
                            "nullable": true,
                            "example": 851,
                            "description": "ID of the asset creator"
                          },
                          "barcode": {
                            "type": "string",
                            "nullable": false,
                            "example": "BWFPBNRHAW54CG",
                            "description": "String encoded barcode (expand with query parameter)"
                          },
                          "teamIds": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            },
                            "description": "List of teams responsible for the asset (expand with query parameter)",
                            "example": [
                              123,
                              456
                            ],
                            "nullable": false
                          },
                          "assetTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "manual",
                              "tool"
                            ],
                            "description": "List of asset types (expand with query parameter)",
                            "nullable": false
                          },
                          "extraFields": {
                            "type": "object",
                            "description": "Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: \"My Custom Field\") (expand with query parameter)",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {
                              "My Custom Field": "000000000"
                            },
                            "nullable": false
                          },
                          "vendorIds": {
                            "type": "array",
                            "description": "Vendor IDs (expand with query parameter)",
                            "items": {
                              "type": "number",
                              "example": 1
                            },
                            "nullable": false
                          },
                          "depreciation": {
                            "type": "object",
                            "nullable": false,
                            "description": "Depreciation information of the asset (expand with query parameter)",
                            "properties": {
                              "id": {
                                "type": "number",
                                "example": 42,
                                "description": "Global ID of the asset depreciation."
                              },
                              "accumulatedDepreciation": {
                                "type": "number",
                                "description": "Accumulated depreciation of the asset.",
                                "format": "double",
                                "nullable": true,
                                "example": "5000.00"
                              },
                              "annualDepreciation": {
                                "type": "number",
                                "description": "Annual depreciation of the asset.",
                                "format": "double",
                                "nullable": true,
                                "example": "1000.00"
                              },
                              "depreciationStartDate": {
                                "type": "string",
                                "description": "Date at which the asset depreciation started.",
                                "format": "date-time",
                                "nullable": true,
                                "example": "2022-01-01T00:00:00.000Z"
                              },
                              "currentBookValue": {
                                "type": "number",
                                "description": "Current book value of the asset.",
                                "format": "double",
                                "nullable": true,
                                "example": "7500.00"
                              },
                              "purchasePrice": {
                                "type": "number",
                                "description": "Purchase price of the asset.",
                                "format": "double",
                                "nullable": true,
                                "example": "12500.00"
                              },
                              "purchaseDate": {
                                "type": "string",
                                "description": "Date & time at which the asset was purchased.",
                                "format": "date-time",
                                "nullable": true,
                                "example": "2022-01-01T00:00:00.000Z"
                              },
                              "salvageValue": {
                                "type": "number",
                                "description": "Salvage value of the asset.",
                                "format": "double",
                                "nullable": true,
                                "example": "2500.00"
                              },
                              "usefulLifeYears": {
                                "type": "number",
                                "description": "Useful life of the asset in years.",
                                "format": "double",
                                "nullable": true,
                                "example": 10
                              },
                              "yearsDepreciated": {
                                "type": "number",
                                "description": "Years depreciated of the asset.",
                                "format": "double",
                                "nullable": true,
                                "example": 5
                              },
                              "createdAt": {
                                "type": "string",
                                "description": "Date & time at which the asset depreciation was created.",
                                "format": "date-time",
                                "example": "2022-01-01T00:00:00.000Z",
                                "nullable": true
                              },
                              "archivedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date & time at which the asset depreciation was archived.",
                                "example": "2022-01-01T00:00:00.000Z",
                                "nullable": true
                              }
                            }
                          },
                          "status": {
                            "type": "object",
                            "nullable": false,
                            "description": "Status information of the asset (expand with query parameter)",
                            "properties": {
                              "id": {
                                "type": "number",
                                "example": 42,
                                "description": "Global ID of the asset status."
                              },
                              "status": {
                                "type": "string",
                                "example": "OFFLINE",
                                "description": "Asset status value.",
                                "enum": [
                                  "IGNORE",
                                  "OFFLINE",
                                  "ONLINE"
                                ]
                              },
                              "downtimeType": {
                                "type": "string",
                                "nullable": true,
                                "example": "PLANNED",
                                "enum": [
                                  "PLANNED",
                                  "UNPLANNED"
                                ]
                              },
                              "startedAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2022-01-01T12:34:56.123Z",
                                "description": "Asset status effective start date."
                              },
                              "endedAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2022-01-01T12:34:56.123Z",
                                "description": "Asset status effective end date.",
                                "nullable": true
                              },
                              "description": {
                                "type": "string",
                                "example": "Overheated - needs servicing.",
                                "nullable": true
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2022-01-01T12:34:56.123Z",
                                "readOnly": true,
                                "description": "Date & time at which the asset status was created."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2022-01-01T12:34:56.123Z",
                                "readOnly": true,
                                "description": "Date & time at which the asset status was last updated."
                              },
                              "deletedAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2022-01-01T12:34:56.123Z",
                                "readOnly": true,
                                "description": "Date & time at which the asset status was deleted.",
                                "nullable": true
                              },
                              "customStatus": {
                                "type": "object",
                                "required": [
                                  "label"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "example": "Global ID of the custom asset status."
                                  },
                                  "label": {
                                    "type": "string",
                                    "example": "Decommissioned"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Date & time at which the asset custom status was created.",
                                    "example": "2022-01-01T12:34:56.123Z"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Date & time at which the asset custom status was last updated.",
                                    "example": "2022-01-01T12:34:56.123Z"
                                  },
                                  "deletedAt": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Date at which the asset custom status was deleted.",
                                    "format": "date-time",
                                    "example": "2022-01-01T12:34:56.123Z"
                                  }
                                },
                                "description": "Custom status assigned to asset.",
                                "nullable": true
                              }
                            }
                          },
                          "manufacturer": {
                            "type": "string",
                            "nullable": false,
                            "description": "Name of the manufacturer of the asset (expand with query parameter)",
                            "example": "Manufacturer"
                          },
                          "model": {
                            "type": "string",
                            "nullable": false,
                            "description": "Name of the model of the asset (expand with query parameter)",
                            "example": "Model"
                          }
                        }
                      }
                    },
                    "nextCursor": {
                      "description": "The cursor to retrieve the next page of Assets.",
                      "type": "string",
                      "nullable": true
                    },
                    "nextPageUrl": {
                      "description": "Path with query parameters that can be used to retrieve the next page of Assets.",
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error with query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "description": "Description of error",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "Assets"
        ]
      }
    },
    "/assets/{assetId}/status": {
      "post": {
        "summary": "Create a new asset status",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "description": "Required if using a multi organizations token",
            "name": "x-organization-id",
            "in": "header",
            "required": false,
            "example": "1"
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "ID of the asset",
            "example": "5678"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "description": "Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)",
            "name": "skipWebhook",
            "in": "query",
            "required": false
          }
        ],
        "requestBody": {
          "description": "Asset Status to set",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "OFFLINE",
                    "description": "Asset status value.",
                    "enum": [
                      "IGNORE",
                      "OFFLINE",
                      "ONLINE"
                    ]
                  },
                  "customStatusId": {
                    "type": "number",
                    "description": "Id of the custom status assigned to asset.",
                    "nullable": true,
                    "example": 53
                  },
                  "downtimeType": {
                    "type": "string",
                    "nullable": true,
                    "example": "PLANNED",
                    "enum": [
                      "PLANNED",
                      "UNPLANNED"
                    ]
                  },
                  "startedAt": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-01-01T12:34:56.123Z",
                    "description": "Asset status effective start date."
                  },
                  "endedAt": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-01-01T12:34:56.123Z",
                    "description": "Asset status effective end date.",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "example": "Overheated - needs servicing.",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully set a new asset status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "assetStatus"
                  ],
                  "properties": {
                    "assetStatus": {
                      "type": "object",
                      "required": [
                        "id",
                        "status",
                        "startedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "number",
                          "example": 42,
                          "description": "Global ID of the asset status."
                        },
                        "downtimeType": {
                          "type": "string",
                          "nullable": true,
                          "example": "PLANNED",
                          "enum": [
                            "PLANNED",
                            "UNPLANNED"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "example": "OFFLINE",
                          "description": "Asset status value.",
                          "enum": [
                            "IGNORE",
                            "OFFLINE",
                            "ONLINE"
                          ]
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2022-01-01T12:34:56.123Z",
                          "description": "Asset status effective start date."
                        },
                        "customStatusId": {
                          "type": "number",
                          "description": "Id of the custom status assigned to asset.",
                          "nullable": true,
                          "example": 53
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2022-01-01T12:34:56.123Z",
                          "readOnly": true,
                          "description": "Date & time at which the asset status was last updated."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "OrganizationId was not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "errors"
                  ],
                  "example": {
                    "errors": [
                      {
                        "error": "Missing x-organization-id header."
                      }
                    ]
                  },
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "error"
                        ],
                        "properties": {
                          "error": {
                            "type": "string"
                          },
                          "fieldPath": {
                            "nullable": true,
                            "type": "string"
                          },
                          "fieldValue": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find the specified asset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "asset Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Assets"
        ]
      }
    },
    "/assets/{id}": {
      "get": {
        "summary": "Get asset",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the asset",
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved asset's information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "asset"
                  ],
                  "properties": {
                    "asset": {
                      "type": "object",
                      "required": [
                        "id",
                        "name"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 963,
                          "description": "Global ID of the asset"
                        },
                        "name": {
                          "type": "string",
                          "example": "Forklift"
                        },
                        "globalUuid": {
                          "type": "string",
                          "nullable": true,
                          "description": "Global unique identifier of the asset used to identify assets as they are being transferred",
                          "example": "e2eb31cb-dd28-495a-92dd-6a435514f5ae"
                        },
                        "currentOwnerId": {
                          "type": "number",
                          "description": "Organization id that currently has the active version of this asset",
                          "example": 1
                        },
                        "barcode": {
                          "type": "string",
                          "nullable": true,
                          "example": "BWFPBNRHAW54CG",
                          "description": "String encoded barcode"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true,
                          "example": "Forklift that is used to to move heavy equipments around the warehouse"
                        },
                        "criticalityId": {
                          "type": "integer",
                          "nullable": true,
                          "example": 150,
                          "description": "ID of the criticality of the asset"
                        },
                        "teamIds": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          },
                          "description": "List of teams responsible for the asset",
                          "example": [
                            123,
                            456
                          ]
                        },
                        "assetTypes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "manual",
                            "tool"
                          ],
                          "description": "List of asset types"
                        },
                        "parentId": {
                          "type": "integer",
                          "nullable": true,
                          "example": 852,
                          "description": "ID of the parent asset"
                        },
                        "childrenIds": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "number"
                          },
                          "example": [
                            321,
                            987
                          ],
                          "description": "IDs of the asset's children"
                        },
                        "locationId": {
                          "type": "integer",
                          "nullable": true,
                          "example": 852,
                          "description": "ID of the location where the asset is located"
                        },
                        "serialNumber": {
                          "type": "string",
                          "nullable": true,
                          "description": "Serial number of the asset",
                          "example": "000123ABC"
                        },
                        "thumbnail": {
                          "type": "object",
                          "title": "attachment",
                          "required": [
                            "id",
                            "mimeType",
                            "fileName",
                            "url",
                            "createdAt"
                          ],
                          "properties": {
                            "id": {
                              "type": "number",
                              "description": "Global ID of the attachment",
                              "example": 12345
                            },
                            "mimeType": {
                              "type": "string",
                              "description": "MIME type of the file",
                              "example": "image/png"
                            },
                            "fileName": {
                              "type": "string",
                              "description": "Attachment's file name",
                              "example": "image.png"
                            },
                            "url": {
                              "type": "string",
                              "description": "Url of the file",
                              "example": "http://example.com/image.png"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Date & time at which the attachment was uploaded",
                              "example": "2022-01-01T00:00:00.000Z"
                            },
                            "width": {
                              "type": "number",
                              "description": "Width if the file is an image",
                              "nullable": true,
                              "example": 220
                            },
                            "height": {
                              "type": "number",
                              "description": "Height if the file is an image",
                              "nullable": true,
                              "example": 100
                            }
                          },
                          "nullable": true
                        },
                        "attachments": {
                          "type": "array",
                          "title": "attachment",
                          "description": "List of attachments linked to the asset",
                          "items": {
                            "type": "object",
                            "title": "attachment",
                            "required": [
                              "id",
                              "mimeType",
                              "fileName",
                              "url",
                              "createdAt"
                            ],
                            "properties": {
                              "id": {
                                "type": "number",
                                "description": "Global ID of the attachment",
                                "example": 12345
                              },
                              "mimeType": {
                                "type": "string",
                                "description": "MIME type of the file",
                                "example": "image/png"
                              },
                              "fileName": {
                                "type": "string",
                                "description": "Attachment's file name",
                                "example": "image.png"
                              },
                              "url": {
                                "type": "string",
                                "description": "Url of the file",
                                "example": "http://example.com/image.png"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date & time at which the attachment was uploaded",
                                "example": "2022-01-01T00:00:00.000Z"
                              },
                              "width": {
                                "type": "number",
                                "description": "Width if the file is an image",
                                "nullable": true,
                                "example": 220
                              },
                              "height": {
                                "type": "number",
                                "description": "Height if the file is an image",
                                "nullable": true,
                                "example": 100
                              }
                            }
                          }
                        },
                        "extraFields": {
                          "type": "object",
                          "description": "Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: \"My Custom Field\")",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "example": {
                            "My Custom Field": "000000000"
                          }
                        },
                        "vendorIds": {
                          "type": "array",
                          "description": "Vendor IDs",
                          "items": {
                            "type": "number",
                            "example": 1
                          }
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Date & time at which the asset was created",
                          "example": "2022-01-01T00:00:00.000Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Date & time at which the asset was last updated. This doesn't include comments",
                          "example": "2022-01-01T00:00:00.000Z"
                        },
                        "deletedAt": {
                          "type": "string",
                          "nullable": true,
                          "description": "Date at which the asset was deleted",
                          "format": "date-time"
                        },
                        "creatorId": {
                          "type": "integer",
                          "nullable": true,
                          "example": 851,
                          "description": "ID of the asset creator"
                        },
                        "depreciation": {
                          "type": "object",
                          "nullable": true,
                          "description": "Depreciation information of the asset",
                          "properties": {
                            "id": {
                              "type": "number",
                              "example": 42,
                              "description": "Global ID of the asset depreciation."
                            },
                            "accumulatedDepreciation": {
                              "type": "number",
                              "description": "Accumulated depreciation of the asset.",
                              "format": "double",
                              "nullable": true,
                              "example": "5000.00"
                            },
                            "annualDepreciation": {
                              "type": "number",
                              "description": "Annual depreciation of the asset.",
                              "format": "double",
                              "nullable": true,
                              "example": "1000.00"
                            },
                            "depreciationStartDate": {
                              "type": "string",
                              "description": "Date at which the asset depreciation started.",
                              "format": "date-time",
                              "nullable": true,
                              "example": "2022-01-01T00:00:00.000Z"
                            },
                            "currentBookValue": {
                              "type": "number",
                              "description": "Current book value of the asset.",
                              "format": "double",
                              "nullable": true,
                              "example": "7500.00"
                            },
                            "purchasePrice": {
                              "type": "number",
                              "description": "Purchase price of the asset.",
                              "format": "double",
                              "nullable": true,
                              "example": "12500.00"
                            },
                            "purchaseDate": {
                              "type": "string",
                              "description": "Date & time at which the asset was purchased.",
                              "format": "date-time",
                              "nullable": true,
                              "example": "2022-01-01T00:00:00.000Z"
                            },
                            "salvageValue": {
                              "type": "number",
                              "description": "Salvage value of the asset.",
                              "format": "double",
                              "nullable": true,
                              "example": "2500.00"
                            },
                            "usefulLifeYears": {
                              "type": "number",
                              "description": "Useful life of the asset in years.",
                              "format": "double",
                              "nullable": true,
                              "example": 10
                            },
                            "yearsDepreciated": {
                              "type": "number",
                              "description": "Years depreciated of the asset.",
                              "format": "double",
                              "nullable": true,
                              "example": 5
                            },
                            "createdAt": {
                              "type": "string",
                              "description": "Date & time at which the asset depreciation was created.",
                              "format": "date-time",
                              "example": "2022-01-01T00:00:00.000Z",
                              "nullable": true
                            },
                            "archivedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Date & time at which the asset depreciation was archived.",
                              "example": "2022-01-01T00:00:00.000Z",
                              "nullable": true
                            }
                          }
                        },
                        "manufacturer": {
                          "type": "string",
                          "nullable": true,
                          "description": "Name of the manufacturer of the asset",
                          "example": "Manufacturer"
                        },
                        "model": {
                          "type": "string",
                          "nullable": true,
                          "description": "Name of the model of the asset",
                          "example": "Model"
                        },
                        "status": {
                          "type": "object",
                          "nullable": true,
                          "description": "Status information of the asset",
                          "properties": {
                            "id": {
                              "type": "number",
                              "example": 42,
                              "description": "Global ID of the asset status."
                            },
                            "status": {
                              "type": "string",
                              "example": "OFFLINE",
                              "description": "Asset status value.",
                              "enum": [
                                "IGNORE",
                                "OFFLINE",
                                "ONLINE"
                              ]
                            },
                            "downtimeType": {
                              "type": "string",
                              "nullable": true,
                              "example": "PLANNED",
                              "enum": [
                                "PLANNED",
                                "UNPLANNED"
                              ]
                            },
                            "startedAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2022-01-01T12:34:56.123Z",
                              "description": "Asset status effective start date."
                            },
                            "endedAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2022-01-01T12:34:56.123Z",
                              "description": "Asset status effective end date.",
                              "nullable": true
                            },
                            "description": {
                              "type": "string",
                              "example": "Overheated - needs servicing.",
                              "nullable": true
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2022-01-01T12:34:56.123Z",
                              "readOnly": true,
                              "description": "Date & time at which the asset status was created."
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2022-01-01T12:34:56.123Z",
                              "readOnly": true,
                              "description": "Date & time at which the asset status was last updated."
                            },
                            "deletedAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2022-01-01T12:34:56.123Z",
                              "readOnly": true,
                              "description": "Date & time at which the asset status was deleted.",
                              "nullable": true
                            },
                            "customStatus": {
                              "type": "object",
                              "required": [
                                "label"
                              ],
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "example": "Global ID of the custom asset status."
                                },
                                "label": {
                                  "type": "string",
                                  "example": "Decommissioned"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Date & time at which the asset custom status was created.",
                                  "example": "2022-01-01T12:34:56.123Z"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Date & time at which the asset custom status was last updated.",
                                  "example": "2022-01-01T12:34:56.123Z"
                                },
                                "deletedAt": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Date at which the asset custom status was deleted.",
                                  "format": "date-time",
                                  "example": "2022-01-01T12:34:56.123Z"
                                },
                                "downtimeType": {
                                  "type": "string",
                                  "nullable": true,
                                  "example": null,
                                  "enum": [
                                    "PLANNED",
                                    "UNPLANNED"
                                  ],
                                  "deprecated": true,
                                  "description": "Downtime type on asset custom statuses will always return null. Use downtime type on asset status instead."
                                }
                              },
                              "description": "Custom status assigned to asset.",
                              "nullable": true
                            },
                            "customStatusId": {
                              "type": "number",
                              "deprecated": true,
                              "description": "Please use customStatus instead.",
                              "nullable": true,
                              "example": 53
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error with query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "description": "Description of error",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find the specified asset or the user cannot access it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Assets"
        ]
      },
      "patch": {
        "summary": "Update asset information",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the asset",
            "example": "1"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "description": "Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)",
            "name": "skipWebhook",
            "in": "query",
            "required": false
          }
        ],
        "requestBody": {
          "description": "Asset to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Forklift"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "example": "Forklift that is used to to move heavy equipments around the warehouse"
                  },
                  "barcode": {
                    "type": "string",
                    "nullable": true,
                    "example": "BWFPBNRHAW54CG",
                    "description": "String encoded barcode"
                  },
                  "criticalityId": {
                    "type": "integer",
                    "nullable": true,
                    "example": 150,
                    "description": "ID of the criticality of the asset"
                  },
                  "parentId": {
                    "type": "integer",
                    "nullable": true,
                    "example": 852,
                    "description": "ID of the parent asset"
                  },
                  "locationId": {
                    "type": "integer",
                    "nullable": true,
                    "example": 852,
                    "description": "ID of the location where the asset is located"
                  },
                  "teamIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "List of teams responsible for the asset",
                    "example": [
                      123,
                      456
                    ]
                  },
                  "assetTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "manual",
                      "tool"
                    ],
                    "description": "List of asset types"
                  },
                  "extraFields": {
                    "type": "object",
                    "description": "Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: \"My Custom Field\")",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "My Custom Field": "000000000"
                    }
                  },
                  "vendorIds": {
                    "type": "array",
                    "description": "Vendor IDs",
                    "items": {
                      "type": "number",
                      "example": 1
                    }
                  },
                  "serialNumber": {
                    "type": "string",
                    "nullable": true,
                    "description": "Serial number of the asset",
                    "example": "000123ABC"
                  },
                  "depreciation": {
                    "type": "object",
                    "nullable": true,
                    "description": "Depreciation information of the asset",
                    "properties": {
                      "id": {
                        "type": "number",
                        "example": 42,
                        "description": "Global ID of the asset depreciation."
                      },
                      "accumulatedDepreciation": {
                        "type": "number",
                        "description": "Accumulated depreciation of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "5000.00"
                      },
                      "annualDepreciation": {
                        "type": "number",
                        "description": "Annual depreciation of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "1000.00"
                      },
                      "depreciationStartDate": {
                        "type": "string",
                        "description": "Date at which the asset depreciation started.",
                        "format": "date-time",
                        "nullable": true,
                        "example": "2022-01-01T00:00:00.000Z"
                      },
                      "currentBookValue": {
                        "type": "number",
                        "description": "Current book value of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "7500.00"
                      },
                      "purchasePrice": {
                        "type": "number",
                        "description": "Purchase price of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "12500.00"
                      },
                      "purchaseDate": {
                        "type": "string",
                        "description": "Date & time at which the asset was purchased.",
                        "format": "date-time",
                        "nullable": true,
                        "example": "2022-01-01T00:00:00.000Z"
                      },
                      "salvageValue": {
                        "type": "number",
                        "description": "Salvage value of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": "2500.00"
                      },
                      "usefulLifeYears": {
                        "type": "number",
                        "description": "Useful life of the asset in years.",
                        "format": "double",
                        "nullable": true,
                        "example": 10
                      },
                      "yearsDepreciated": {
                        "type": "number",
                        "description": "Years depreciated of the asset.",
                        "format": "double",
                        "nullable": true,
                        "example": 5
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "Date & time at which the asset depreciation was created.",
                        "format": "date-time",
                        "example": "2022-01-01T00:00:00.000Z",
                        "nullable": true
                      },
                      "archivedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date & time at which the asset depreciation was archived.",
                        "example": "2022-01-01T00:00:00.000Z",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully edited asset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "asset"
                  ],
                  "properties": {
                    "asset": {
                      "type": "object",
                      "required": [
                        "id",
                        "name"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 963,
                          "description": "Global ID of the asset"
                        },
                        "name": {
                          "type": "string",
                          "example": "Forklift"
                        },
                        "globalUuid": {
                          "type": "string",
                          "nullable": true,
                          "description": "Global unique identifier of the asset used to identify assets as they are being transferred",
                          "example": "e2eb31cb-dd28-495a-92dd-6a435514f5ae"
                        },
                        "currentOwnerId": {
                          "type": "number",
                          "description": "Organization id that currently has the active version of this asset",
                          "example": 1
                        },
                        "barcode": {
                          "type": "string",
                          "nullable": true,
                          "example": "BWFPBNRHAW54CG",
                          "description": "String encoded barcode"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true,
                          "example": "Forklift that is used to to move heavy equipments around the warehouse"
                        },
                        "criticalityId": {
                          "type": "integer",
                          "nullable": true,
                          "example": 150,
                          "description": "ID of the criticality of the asset"
                        },
                        "teamIds": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          },
                          "description": "List of teams responsible for the asset",
                          "example": [
                            123,
                            456
                          ]
                        },
                        "assetTypes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "manual",
                            "tool"
                          ],
                          "description": "List of asset types"
                        },
                        "parentId": {
                          "type": "integer",
                          "nullable": true,
                          "example": 852,
                          "description": "ID of the parent asset"
                        },
                        "childrenIds": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "number"
                          },
                          "example": [
                            321,
                            987
                          ],
                          "description": "IDs of the asset's children"
                        },
                        "locationId": {
                          "type": "integer",
                          "nullable": true,
                          "example": 852,
                          "description": "ID of the location where the asset is located"
                        },
                        "serialNumber": {
                          "type": "string",
                          "nullable": true,
                          "description": "Serial number of the asset",
                          "example": "000123ABC"
                        },
                        "thumbnail": {
                          "type": "object",
                          "title": "attachment",
                          "required": [
                            "id",
[...]
